<ul class='friend-introduction-list'>
<% @user_relations.each do |user_relation| %>
  <% if current_user.id == user_relation.friend_id && user_relation.friend_introduction %>
    <li>
      <% @users.each do |user| %>
        <% if user.id == user_relation.user_id %>
          <p id=<% user_relation.id %>>
            投稿者：<%= user.last_name %> <%= user.first_name %><br>
            投稿した紹介文：<%= user_relation.friend_introduction%>
          </p>
        <% end %>
      <% end %>
    </li>
  <% end %>
<% end %>
</ul>